
<div class="list-container">
  <ul>
    <li *ngFor="let item of todoLists">
      <label class="selectable-list-item-container">{{item.item}} {{item.date}}
        <input type="checkbox" (click)="removeRow(item)">
        <span class="checkmark"></span>
      </label>
    </li>
  </ul>

  <div class="form-controls">
    <input type="text" [(ngModel)]="addTaskValue.item">
    <input type="date" [(ngModel)]="addTaskValue.date">
    <button (click)="addList()">Add Task</button>
    <button (click)="clearItem()">Cancel</button>
  </div>
</div>